<div class="container">
    <h2>The next step in IoT technology</h2>
    <div class="imgbox">
        <img class="center-fit" src='../../assets/images/Broome.jpg'>
    </div>
    
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio quas maxime incidunt mollitia! Maiores accusantium temporibus, 
    natus officiis accusamus quos nihil eaque voluptatibus rerum magni vitae beatae cumque explicabo quia. Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
    Molestiae, voluptate dolorum distinctio perspiciatis ab debitis odio provident dolores sed modi suscipit? Aliquid, eum? Nam molestias obcaecati inventore possimus distinctio dolor!
</p>
</div>