*{
    background-color: gray;
    
}

.imgbox {
    margin-top: 20px;
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: row;
    vertical-align: middle;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}