.container{
    margin: auto;
    text-align: left;
}
input, button {
    text-align: left;
    padding: 8px 20px;
    margin-top: 4px;
    box-sizing: border-box;
    border-radius: 10px;
}

button {
    cursor: pointer;
}
.btn-primary {
    background-color: darkgrey ;
}
form, form *{
    background-color: blue;
}